In [2]:
import pandas as pd
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

In [11]:
file = "M_wormCP2AFMmu2dplaq_BC_closed_nMeas_55000_beta_10.00_XYT_8_8_800_mu3_0.000_mu8_0.000_nSim_1.dat"

In [17]:
df = pd.DataFrame(columns=columns)

In [18]:
df.shape

(0, 10)

In [15]:
columns = [
    "w3x",
    "w8x",
    "w3y",
    "w8y",
    "q3_",
    "q8_",
    "l_",
    "lp_",
    "lm_",
    "tail_",
]

In [20]:
with open(file) as fp:
    lines = fp.readlines()
    for line in lines:
        df = df.append(pd.DataFrame([line.split()], columns=columns))

151

In [21]:
print(len(df))

55000

In [22]:
df.head()

  w3x w8x w3y w8y q3_ q8_     l_   lp_    lm_ tail_
0  -2   0  -4   0   0   0   7980  3580   4408    tm
0   1   3  -3   1  -1  -1  31912  1076  30850    vp
0   1   3  -4   0   0   0   6980  5964   1025    vp
0   1   3  -4   0   0   0     80    18     64    vp
0  -1   3  -2   0   0   0   4816   104   4718    tm

In [1]:
df.plot(y='l_')

NameError: name 'df' is not defined